{% extends 'main.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block main %}
<h1>Stock portfolio</h1>

<table>
    <thead>
        <tr>
            <th>Company</th>
            <th>Ticker</th>
            <th>Count of shares</th>
            <th>Cost of portfolio</th>
            <th>Cost of portfolio an yaer ago</th>
            <th>Cost of portfolio 2 years ago</th>
            <th>Dividends of previous year</th>
            <th>Dividends of an year ago</th>
        </tr>
    </thead>
    <tbody>
        {% for company in companies %}
        <tr>
            <td>{{ company.name }}</td>
            <td>{{ company.ticker }}</td>
            <td>{{ company.sharesCount }}</td>
            <td>{{ company.sharesCost|round(2) }}</td>
            <td>{{ company.sharesCost1y|round(2) }}</td>
            <td>{{ company.sharesCost2y|round(2) }}</td>
            <td>{{ company.dividends1y|round(2) }}</td>
            <td>{{ company.dividends2y|round(2) }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Your stock portfolio is empty</td>
        </tr>
        {% endfor %}
    </tbody>
    {% if companies %}
    <tfoot>
        <tr>
            <th colspan="2">Total</th>
            <th>{{ totalPortfolio.sharesCount }}</th>
            <th>{{ totalPortfolio.sharesCost|round(2) }}</th>
            <th>{{ totalPortfolio.sharesCost1y|round(2) }}</th>
            <th>{{ totalPortfolio.sharesCost2y|round(2) }}</th>
            <th>{{ totalPortfolio.dividends1y|round(2) }}</th>
            <th>{{ totalPortfolio.dividends2y|round(2) }}</th>
        </tr>
    </tfoot>
    {% endif %}
</table>
{% endblock %}