<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block page %}
    {% block body %}
    <nav>
        {% block nav %}
        <ul>
            <li><a href="{{ path('homepage') }}">Homepage</a></li>
            {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('transaction_index') }}">Transactions</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">Registration</a></li>
            {% endif %}
        </ul>
        {% endblock nav %}
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>
    {% endblock body %}
    {% endblock page %}

    {% block javascripts %}{% endblock %}
</body>

</html>